
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
.maincontainer{
    width : 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.informationcontainer{
    background-color: blue;
    margin-top: 10vh;
    height : 20vh;
    width : 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.informationdis{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.createaccount{
    width : 100%;
    display: flex;
    justify-content: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 1.5em;
    text-align: center;
}
.entercontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width : 35vw;
    height: 20vh;
}
.createbutton{
    border : none;
    background-color: white;
    font-size:1em ;
}
.passtitle{
    width : 100%;
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 2em;
}
.passcode {
    border-radius: 5px;
    border: rgb(184, 184, 184) solid 1px;
    width : 95%;
    height: 16%;
    text-align: center;
    font-size: 150%;
}
.subbutton{
    border-radius: 5px;
    margin-left: 10px;
    border: rgb(184, 184, 184) solid 1px;
    background-color: white;
    font-size: 2em;
}
.buttoncontainer{
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayPassCode{
    font-size: 2em;
}
.loginbtn{
    border: gray 1px solid ;
    width : 7vw;
    height : 20%;
    border-radius: 5px;
    background-color: white;
    font-size: 1.5em;
}